body{
  background-image: url(src/background.png);
  background-repeat: repeat-y，repeat-x;
  background-attachment: fixed;
}


.imge{
border-radius: 8px;
width:93%;
}
.imge:hover{
border-radius: 7px;
box-shadow: 0px 0px 0px 5px rgba(86, 186, 219, 0.4);

}
#all{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:680px;

  padding-top: 130px;
  padding-left: 30px;
}



#top{
 position: fixed;
 top: 0;
 left: 0;
 z-index: 9998;
 width: 100%;
 height:95px;
 background-color: #56b2d1;
}

#top-bottom{

 position: fixed;
 top: 95px;
 left: 0;
 z-index: 9999;
 width: 100%;
 height:5px;
 background-color:#3295B7;
}
#logo{
  z-index: 9999;
  position: relative;
  width: 40%;
  left: 35%;
  top: 5px;
}

#menu-bar{
  position: fixed;
  left:0;
  top:0;
  width:80%;
  height:100px;
}

#b1{
  position: absolute;
  left:5%;
  top:40%;
}

#b2{
  position: absolute;
  left:15%;
  top:40%;
}


#b3{
  position: absolute;
  left:25%;
  top:40%;
}

#b4{
  position: absolute;
  right:-20%;
  top:40%;
}

#test-button{
  position:static;
  top: 30px;
  left: 20px;


}

#myImage{
  width:300px;

}


.button-link{
  font-family:monospace;
  font-size: 20px;
  color:black;
  text-decoration: none;
}
.button-link:active{
  text-decoration:none;
}
.button-link:visited{
  text-decoration:none;
}

.logo-href{
  font-size: 66px;
  font-family: Cambria;
  color:black;
  text-decoration: none;
}

.logo-href:active{
  text-decoration:none;
}
.logo-href:visited{
  text-decoration:none;
}
