body{
  background-color: #F5F5F5;
}
.drawing{
  position:relative;
  left:7%;
}
.padding{
  height:20px;
  width:100%;
}
.imge{
border-radius: 8px;
width:93%;
}
.imge:hover{
border-radius: 7px;
box-shadow: 0px 0px 0px 5px rgba(86, 186, 219, 0.4);
}

#left-colomn{
  z-index: 100;
  position:absolute;
  top:20%;
  left:1%;
  width:33%;
  height:100%;
}
#middle-colomn{
  z-index: 200;
  position:absolute;
  top:20%;
  left:34%;
  width:33%;
  height:100%;
}
#right-colomn{
  z-index: 300;
  position:absolute;
  top:20%;
  left:67%;
  width:33%;
  height:100%;
}

#top{

 position: fixed;
 top: 0;
 left: 0;
 z-index: 9999;
 width: 100%;
 height:100px;
 background-color: #56b2d1;
}
#logo{
  font-size: 66px;
  font-family:Cambria;
  position:fixed;
  top:2%;
  left:30%;


}
.button{
  font-size: 22px;
  font-family:Cambria;
  top:15px;
}
.button-link:active{
  text-decoration:none;
}
.button-link:visited{
  text-decoration:none;
}
#resume{
  position:absolute;
  left:8.4%;
  color:black;
}

#github{
  position:absolute;
  left:15%;
  color:black;
}

#home{
  position:absolute;
  left:3%;
  color:black;
}
