body{
  background-image: url(src/background.png);
  background-repeat: repeat-y;
  background-attachment: fixed;
}
.drawing{
  position:relative;
  left:0;
}
.padding{
  height:20px;
  width:100%;
}
.imge{
border-radius: 8px;
width:93%;
}
.imge:hover{
border-radius: 7px;
box-shadow: 0px 0px 0px 5px rgba(86, 186, 219, 0.4);
}
#all{
  top: 100px;
  left: 0;
  width:100%;
  height: auto;
}
#left-colomn{
  z-index: 100;
  position:absolute;
  top:110px;
  left:2%;
  width:33%;
  height:100%;
}
#middle-colomn{
  z-index: 200;
  position:absolute;
  top:110px;
  left:35%;
  width:33%;
  height:100%;
}
#right-colomn{
  z-index: 300;
  position:absolute;
  top:110px;
  left:68%;
  width:32%;
  height:100%;
}

#top{

 position: fixed;
 top: 0;
 left: 0;
 z-index: 9998;
 width: 100%;
 height:95px;
 background-color: #56b2d1;
}
#top-bottom{

 position: fixed;
 top: 95px;
 left: 0;
 z-index: 9999;
 width: 100%;
 height:5px;
 background-color:#3295B7;
}
#logo{
  font-size: 66px;
  font-family:Cambria;
  position:fixed;
  top:5px;
  left:30%;


}

#menu-bar{
  position: fixed;
  left:0;
  top:0;
  width:80%;
  height:100px;
}

#b1{
  position: absolute;
  left:5%;
  top:40%;
}

#b2{
  position: absolute;
  left:15%;
  top:40%;
}


#b3{
  position: absolute;
  left:25%;
  top:40%;
}

a.button-link{
  font-family:monospace;
}


.button-link{
  font-size: 20px;
  color:black;
  text-decoration: none;
}
.button-link:active{
  text-decoration:none;
}
.button-link:visited{
  text-decoration:none;
}
