body{
  background-image: url(../src/background.png);
  background-repeat: repeat-y，repeat-x;
  background-attachment: fixed;
  text-align: center;
  width: 100%;

  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#window_back{
  z-index: 400;
  position: fixed;
  width: auto;


}


#new_window{
  list-style-type: none;
  padding: 20px 20px 20px 20px;
  border-radius: 7px;
  position: relative;

  height:inherit;
  margin-top: 20%;

  background-color: #007299;
}

#myImage{
  position: relative;
  width: inherit;
}


#close_button{
  position:relative;
  z-index: 405;
  height: 25px;
  width: 25px;
  top:-2%;
}


.drawing{
  position:relative;
  left:0;
}
.padding{
  height:20px;
  width:100%;
}

.imge{
border-radius: 8px;
width:93%;
}

.imge:hover{
border-radius: 8px;
box-shadow: 0px 0px 0px 12px rgba(86, 186, 219, 0.4);

}
#all{
  top: 100px;
  left: 0;
  width:100%;

}

#left-colomn{
  z-index: 100;
  position:absolute;
  top:110px;
  left:10%;
  width:26.6%;
  height:100%;
}
#middle-colomn{
  z-index: 200;
  position:absolute;
  top:110px;
  left:36.6%;
  width:26.6%;
  height:100%;
}
#right-colomn{
  z-index: 300;
  position:absolute;
  top:110px;
  left:63.2%;
  width:26.6%;
  height:100%;
}

#top{

 position: fixed;
 top: 0;
 left: 0;
 z-index: 9998;
 width: 100%;
 height:95px;
 background-color: #56b2d1;
}
#top-bottom{
 position: fixed;
 top: 95px;
 left: 0;
 z-index: 9999;
 width: 100%;
 height:5px;
 background-color:#3295B7;
}

#logo{
  z-index: 9998;
  position: relative;
  width: 40%;
  left: 35%;
  top: 5px;
}


#menu-bar{
  position: fixed;
  left:0;
  top:0;
  width:80%;
  height:100px;
}

#b1{
  position: absolute;
  left:5%;
  top:40%;
}

#b2{
  position: absolute;
  left:15%;
  top:40%;
}


#b3{
  position: absolute;
  left:25%;
  top:40%;
}

#b4{
  z-index: 9999;
  position: absolute;
  right:-20%;
  top:40%;
}

.button-link{
  font-family:monospace;
  font-size: 20px;
  color:black;
  text-decoration: none;
}
.button-link:active{
  text-decoration:none;
}
.button-link:visited{
  text-decoration:none;
}

.logo-href{
  font-size: 66px;
  font-family: Cambria;
  color:black;
  text-decoration: none;
  white-space:nowrap;
}

.logo-href:active{
  text-decoration:none;
}
.logo-href:visited{
  text-decoration:none;
}
