body{
  background-image: url(./src/background.png);
  background-repeat: repeat-y，repeat-x;
  background-attachment: fixed;
}
#main_form{
  background-color: #e5e600;
  border-radius: 30px;
  padding-left: 30%;
  padding-top: 5%;
  padding-bottom: 5%;

  height: inherit;

  width: 80%;
  margin: 0 auto;
}
#myform{

}
#out{
  width: 50%;
  margin: 0 auto;
}

#logo{
  font-size: 600%;
  text-align: center;
  font-family:"Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  margin: 0px;
}
}
#nav{
  width:auto;
  height: auto;
}

#bigb {
  padding: 15px 25px;
  font-size: 300%;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;


}

#bigb:hover {background-color: #3e8e41}

#bigb:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#name{
  font-size: 300%;
}
#zodiac{
  font-size: 110%;
}

.formChar{
  font-size: 300%;
}
